.events-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  margin-top: 2px;
  background-image: linear-gradient(to bottom, #ff69b4, #ffd7be);
  background-position: 0% 100%;
  animation: animate 10s ease-in-out infinite;
  background-size: 100% 100%; /* Add this line */
}

@keyframes animate {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 100%;
  }
}

.events-header {
  text-align: center;
  margin-bottom: 20px;
}

.events-header h1 {
  font-size: 30px;
  font-weight: bolder;
  color: #cf0847;
  margin-bottom: 10px;
  text-align: center;
}

.events-header p {
  font-size: 20px;
  color: #8f2626;
  margin-bottom: 20px;
  text-align: center;
}

.event {
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-image: linear-gradient(to bottom, #faf8f8, #e7e7e7);
  background-size: 100% 200px;
  background-position: 0% 100%;
  transition: background-position 0.5s ease-out;
}

.event:hover {
  background-position: 100% 100%;
}

.event-image {
  width: 100%;
  height: 150px;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.event-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.event-info {
  margin-bottom: 20px;
}

.event-name {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.event-subtitle {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.event-description {
  font-size: 12px;
  color: #999;
  margin-bottom: 20px;
}

.event-caption {
  font-size: 12px;
  color: #666;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.event-actions {
  text-align: center;
}

.event-actions button {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.event-actions button:hover {
  background-color: #3e8e41;
}