.event-page-container {
  background-color: #c16666;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 70%;
  margin: 20px auto;
}

.event-page h2 {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 24px;
  color: #333;
}

.event-page ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.event-page li {
  margin-bottom: 20px;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.event-page li:last-child {
  border-bottom: none;
}

.event-page .seat-map {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.event-page .seat {
  width: 30px;
  height: 30px;
  background-color: #ccc;
  border: 1px solid #ddd;
  margin: 10px;
  cursor: pointer;
}

.event-page .seat.selected {
  background-color: #66d9ef;
  border: 1px solid #44c;
}

.event-page .seat:hover {
  background-color: #eee;
}